<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title>Log In</title>
</head>
<body>
    <div class="loginTxt">
    <h1>Log in</h1>
    </div>

    <form action="/newpost" method="post" class="Loginform">
        <div class="inputdiv">
            <input id="title" type="text" placeholder="Title" name="title">
            <label for="title">Title</label>
        </div>
        <div class="inputdiv">
            <input id="createpost" type="text" placeholder="Post content" name="content">
            <label for="createpost">Post content</label>
        </div>
        
        <button type="submit">Create post</button>
    </form>
</body>
</html>