<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/login.css">
    <title>Register</title>
</head>
<body>
    <div class="loginTxt"><h1>Sign up</h1></div>
    <form action="/register" method="post" class="Loginform">
        <div class="inputdiv">
            <input id="Username" type="text" placeholder="Username" name="username">
            <label for="Username">Enter your Username</label>
        </div>
        <div class="inputdiv">
            <input id="Email" type="email" placeholder="Email" name="email">
            <label for="Email">Enter your Email</label>
        </div>
        <div class="inputdiv">
            <input id="Password" type="password" placeholder="Password" name="password">
            <label for="Password">Enter your Password</label>
        </div>
        <div class="inputdiv">
            <input id="ConfirmPassword" type="password" placeholder="Confirm Password" name="confirm_password">
            <label for="ConfirmPassword">Confirm your Password</label>
        </div>
        

        <button type="submit">Log in</button>
    </form>
</body>
</html>